*{
    margin: 0;
    font-weight: normal;
}
p{
    color: #333;
    font-size: 100%;
}
#weather_info{
    position: relative;

    width: 100%;
    padding: 10px;
    background-size: cover;
    color: #333 !important;
    background: url(../images/01dbg.png);
}

h1{ padding:10px;
    font-size: 1.8em;
    text-align: center;
    opacity: 0.8;
}
section{
    overflow: hidden;
    text-shadow: 1px 1px 1px #999;
}
section>.w_id{
    text-align: center;
           }
section>figure>img{
    width: 80px;
}
section.temp{
    font-size: 3.4rem;
}
aside>p{
    font-size: 1.8em;
    text-align: center;
}


.icon{
    padding: 30px 0;
}

