        *{
            margin: 0;
            font-weight: normal;
        }
    
        #weather_info{
            position: relative;
            width: 100%;
            padding: 10px;
            color: #333 !important;
        }
        #weather_info>h1{
            font-size: 0.8rem;
        }
      
        
        #weather_info > .day{
            padding: 10px !important;
            font-size: 0.8rem;
            text-align: center;
        }
        #weather_info > .city{
            padding: 0 0 30px 0;
            font-size: 2.5rem;
        }
        section{
            overflow: hidden;
            text-shadow: 1px 1px 1px #999;
        }
        section>.cont>p{
            text-align: center;
            padding: 2% 0 i !important;
            }
        section>figure>img{
            width: 80px;
        }
        section.temp{
            font-size: 3.4rem;
            
        }
        aside>p{
            font-size: 1.8em;
           
            line-height: 50px;
        }
        .cont{
            padding: 3% 0;
        }
   
        #text{
            text-align: center !important;
        }
        #bg{
            position: absolute;
        }
        section>.temp{
            padding-top: 50px;
        }

      
 